<h2>Simple Input</h2>
<h3>Patterns</h3>
<p>--------------</p>
<h4>Date</h4>
<input [inputMask]="dateInputMask" placeholder="Date Mask" />
<pre><code>{{ dateInputMask | json }}</code></pre>
<p>--------------</p>
<h4>Currency</h4>
<input [inputMask]="currencyInputMask" placeholder="Currency Mask" />
<pre><code>{{ currencyInputMask | json }}</code></pre>
<p>--------------</p>
<h4>License plate:</h4>
<input [inputMask]="licensePlateInputMask" placeholder="License Plate" />
<pre><code>{{ licensePlateInputMask | json }}</code></pre>
<p>--------------</p>
<hr />

<h2>Reactive Form</h2>
<input
  [formControl]="ipAddress"
  [inputMask]="ipAddressMask"
  placeholder="IP Address"
/>
Valid: {{ ipAddress.valid }} | Value: {{ ipAddress.value }} | Errors:
{{ ipAddress.errors | json }}
<p>--------------</p>
<input [formControl]="dateFC" [inputMask]="dateInputMask" placeholder="Date" />
Valid: {{ dateFC.valid }} | Dirty: {{ dateFC.dirty }}| Value:
{{ dateFC.value }} | Errors:
{{ dateFC.errors | json }}
<p>-------------- update Value on blur</p>
<input
  placeholder="Date"
  [formControl]="dateBlurFC"
  [inputMask]="dateInputMask"
/>
Valid: {{ dateBlurFC.valid }} | Dirty: {{ dateBlurFC.dirty }} | Value:
{{ dateBlurFC.value }} | Errors:
{{ dateBlurFC.errors | json }}
